header{
    background-color: #d3e29d;
}
body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.logo{
    align-self: center;
}

.logo img{
    margin: 0px;
    padding: 0px 10px;
    border: 0px;
    width: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navmenu li{
    display: inline;
}

.navmenu li a{
    text-decoration: none;
    color: #2d6b22;
    font-family: 'Jost'; 
    font-weight: lighter;
    font-size: 20px;
    padding: 0px 20px;
}

.navmenu li a:hover{
    font-weight:bolder;
}

@media only screen and (max-width: 600px){
    .navmenu{
        padding: 0px;
    }
    .navmenu li{
        display:block;
    }
}